* {
    padding: 0;
}

#editor {
    margin-left: 5px;
    position:relative;
    display: inline-block;
    width: 256px;
    vertical-align: top;
}

#script {
    position:relative;
    display: inline-block;
    width: 100%;
}

#metadata {
    margin-top: 5px;
    position:relative;
    display: inline-block;
    width: 100%;
}

#render {
    margin-top: 5px;
    position:relative;
    display: inline-block;
    width: 100%;
}

#canvas {
    position:relative;
    display: inline-block;
    width: 800px;
    height: 800px;
    vertical-align: top;
    border: 1px solid #444444;
}