.root {
	-fx-background-color: #444444;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.text-area {
    -fx-background-color: #FFFFFF;
}

.text-area:focused .content {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.text-area .content {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.list-view {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-width: 0 0 0 0;
}

.list-view:focused {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-width: 0 0 0 0;
}

.application .side-pane {
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0 0 0 1;
	-fx-border-color: #b0b0b0;
}

.application .central-pane {
	-fx-background-color: #FFFFFF;
}

.application .toolbar {
	-fx-alignment: center;
	-fx-background-color: white;
}

.application .toolbar .button {
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-opacity: 1.0;
}

.application .toolbar .button:armed {
	-fx-opacity: 0.5;
}

.application .toolbar .toggle-button {
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-opacity: 0.5;
}

.application .toolbar .toggle-button:armed {
	-fx-opacity: 1.0;
}

.application .toolbar .toggle-button:selected {
	-fx-opacity: 1.0;
}

.application .menubar {
	-fx-background-color: white;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #f0f0f0;
}

.application .sidebar {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: #f0f0f0;
	-fx-background-color: white;
}

.application .browse {
	-fx-alignment: center;
	-fx-padding: 0px;
	-fx-background-color: lightgray;
	-fx-opacity: 1;
}

.application .browse .title {
    -fx-font-weight: bold;
	-fx-padding: 15px;
}

.application .browse .controls {
	-fx-padding: 10px;
}

.application .browse .buttons {
	-fx-alignment: center-left;
	-fx-background-color: white;
	-fx-min-height: 60px;
	-fx-opacity: 0.95;
	-fx-padding: 0 20px 0 20px;
}

.application .browse .grid-view {
	-fx-background-color: white;
}

.application .browse .items-label {
    -fx-padding: 0 20px 0 10px;
}

.application .params {
	-fx-padding: 8px;
    -fx-font-size: 0.9em;
}

.application .params .encoded {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #b0b0b0;
	-fx-border-radius: 3;
}

.application .params .text-area {
	-fx-background-color: #fbfbfb;
}

.application .params .text-area .content {
	-fx-background-color: #fbfbfb #fbfbfb black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.application .params .text-area:focused .content {
	-fx-background-color: #fbfbfb #fbfbfb black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.application .params .buttons {
	-fx-padding: 5px 0 0 0;
}

.application .export {
	-fx-background-color: white;
	-fx-padding: 8px;
}

.application .source {
	-fx-border-width: 0;
}

.application .status {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #f0f0f0;
}

.application .errors {
	-fx-border-width: 2 2 2 2;
	-fx-border-color: red;
}

.application .translucent {
	-fx-background-color: white;
	-fx-opacity: 0.9;
}

.application .opaque {
	-fx-background-color: white;
}

.application .text-small {
    -fx-font-size: 0.9em;
}

.application .clips {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #f0f0f0;
	-fx-border-radius: 3;
}
