.application .mandelbrot .alerts {
	-fx-alignment: top-left;
	-fx-padding: 10px;
}

.application .mandelbrot .toolbar {
	-fx-alignment: center;
	-fx-background-color: white;
}

.application .mandelbrot .toolbar .button {
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-opacity: 1.0;
}

.application .mandelbrot .toolbar .button:armed {
	-fx-opacity: 0.5;
}

.application .mandelbrot .toolbar .toggle-button {
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-opacity: 0.5;
}

.application .mandelbrot .toolbar .toggle-button:armed {
	-fx-opacity: 1.0;
}

.application .mandelbrot .toolbar .toggle-button:selected {
	-fx-opacity: 1.0;
}

.application .mandelbrot .menubar {
	-fx-background-color: white;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #f0f0f0;
}

.application .mandelbrot .menubar .button {
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-opacity: 1.0;
}

.application .mandelbrot .menubar .button:armed {
	-fx-opacity: 0.5;
}

.application .mandelbrot .menubar .toggle-button {
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-opacity: 0.5;
}

.application .mandelbrot .menubar .toggle-button:armed {
	-fx-opacity: 1.0;
}

.application .mandelbrot .menubar .toggle-button:selected {
	-fx-opacity: 1.0;
}

.application .mandelbrot .browse {
	-fx-alignment: center;
	-fx-padding: 0px;
	-fx-background-color: lightgray;
	-fx-opacity: 1;
}

.application .mandelbrot .browse .title {
    -fx-font-weight: bold;
	-fx-padding: 15px;
}

.application .mandelbrot .browse .controls {
	-fx-padding: 10px;
}

.application .mandelbrot .browse .buttons {
	-fx-alignment: center-left;
	-fx-background-color: white;
	-fx-min-height: 60px;
	-fx-opacity: 0.95;
	-fx-padding: 0 20px 0 20px;
}

.application .mandelbrot .browse .grid-view {
	-fx-background-color: white;
}

.application .mandelbrot .params {
	-fx-padding: 8px;
}

.application .mandelbrot .params .encoded {
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #b0b0b0;
	-fx-border-radius: 3;
}

.application .mandelbrot .params .text-area {
	-fx-background-color: #fbfbfb;
}

.application .mandelbrot .params .text-area:focused .content {
	-fx-background-color: #fbfbfb #fbfbfb black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.application .mandelbrot .params .text-area .content {
	-fx-background-color: #fbfbfb #fbfbfb black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.application .mandelbrot .export {
	-fx-background-color: white;
}

.application .mandelbrot .source {
	-fx-border-width: 0;
}

.application .mandelbrot .status {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #f0f0f0;
}

.application .mandelbrot .errors {
	-fx-border-width: 2 2 2 2;
	-fx-border-color: red;
}

.application .mandelbrot .keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.application .mandelbrot .error {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.application .mandelbrot .pathop {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.application .mandelbrot .operator {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.application .mandelbrot .paren {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.application .mandelbrot .function {
    -fx-fill: brown;
    -fx-font-weight: bold;
}

.application .mandelbrot .brace {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.application .mandelbrot .code {
    -fx-fill: #808080;
    -fx-font-weight: bold;
}

.application .mandelbrot .sidebar {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: #f0f0f0;
	-fx-background-color: white;
}

.application .mandelbrot .translucent {
	-fx-background-color: white;
	-fx-opacity: 0.9;
}

.application .mandelbrot .opaque {
	-fx-background-color: white;
}

.application .mandelbrot .text-small {
    -fx-font-size: 8pt;
}

.application .mandelbrot .text-center {
}

.application .mandelbrot .spacing {
    -fx-padding: 0 20px 0 10px;
}
