target
.settings
maven/dist
docs
**/.idea
*.iml
dist
**/tmp
com.nextbreakpoint.nextfractal.verticle/web/node_modules


launcher/build
dependency-reduced-pom.xml
default.json
com.nextbreakpoint.nextfractal.verticle/.vertx
keystore.jceks
keystore.jks
app-fractal.js
app-fractals.js
build
