sources/com.nextbreakpoint.nextfractal.build/.project
sources/com.nextbreakpoint.nextfractal.contextfree.swing/.classpath
sources/com.nextbreakpoint.nextfractal.contextfree.swing/.project
sources/com.nextbreakpoint.nextfractal.contextfree/.classpath
sources/com.nextbreakpoint.nextfractal.contextfree/.project
sources/com.nextbreakpoint.nextfractal.core.swing/.classpath
sources/com.nextbreakpoint.nextfractal.core.swing/.project
sources/com.nextbreakpoint.nextfractal.core/.classpath
sources/com.nextbreakpoint.nextfractal.core/.project
sources/com.nextbreakpoint.nextfractal.devtools/.classpath
sources/com.nextbreakpoint.nextfractal.devtools/.project
sources/com.nextbreakpoint.nextfractal.main/.classpath
sources/com.nextbreakpoint.nextfractal.main/.project
sources/com.nextbreakpoint.nextfractal.mandelbrot.swing/.classpath
sources/com.nextbreakpoint.nextfractal.mandelbrot.swing/.project
sources/com.nextbreakpoint.nextfractal.queue/.classpath
sources/com.nextbreakpoint.nextfractal.queue/.project
sources/com.nextbreakpoint.nextfractal.twister.swing/.classpath
sources/com.nextbreakpoint.nextfractal.twister.swing/.project
sources/com.nextbreakpoint.nextfractal.twister/.classpath
sources/com.nextbreakpoint.nextfractal.twister/.project
