.root {
	-fx-background-color: #444444;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.text-area {
    -fx-background-color: #FFFFFF;
}

.text-area:focused .content {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.list-view {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-width: 0 0 0 0;
}

.list-view:focused {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-width: 0 0 0 0;
}

.application .editor-pane {
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0 0 0 1;
	-fx-border-color: #444444;
}

.application .render-pane {
}

.application .mandelbrot .stack-pane {
}

.application .mandelbrot .tools-pane {
	-fx-alignment: bottom-center;
	-fx-padding: 10px;
}

.application .mandelbrot .render-pane {
}

.application .mandelbrot .source-pane {
	-fx-border-width: 0;
}

.application .mandelbrot .actions-pane {
	-fx-alignment: center;
	-fx-padding: 10px;
}

