.root {
	-fx-background-color:#444444;
}

.scroll-pane {
	-fx-background-color:transparent;
}

.scroll-pane > .viewport {
	-fx-background-color:transparent;
}

.text-area {
	-fx-background-color:#FFFFFF;
	-fx-focus-color: transparent;
}

.text-area:focused {
	-fx-focus-color: transparent;
}

.editor-pane {
	-fx-background-color:#FFFFFF;
}

.render-pane {
}
