.root {
	-fx-background-color:#444444;
}

.scroll-pane {
	-fx-background-color:transparent;
}

.scroll-pane > .viewport {
	-fx-background-color:transparent;
}

.editor-panel {
	-fx-background-color:#222222;
	-fx-padding: 10px;
}

.render-panel {
}
