.contextfree-keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.contextfree-error {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.contextfree-pathop {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.contextfree-operator {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.contextfree-paren {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.contextfree-function {
    -fx-fill: brown;
    -fx-font-weight: bold;
}

.contextfree-brace {
    -fx-fill: black;
    -fx-font-weight: bold;
}
