.application .mandelbrot .toolbar {
	-fx-alignment: bottom-center;
	-fx-padding: 10px;
}

.application .mandelbrot .source {
	-fx-border-width: 0;
}

.application .mandelbrot .popup {
	-fx-alignment: center;
	-fx-padding: 10px;
	-fx-background-color: lightgray;
	-fx-opacity: 0.98;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #444444;
}

.application .mandelbrot .keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.application .mandelbrot .operator {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.application .mandelbrot .paren {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.application .mandelbrot .function {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.application .mandelbrot .brace {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.application .mandelbrot .code {
    -fx-fill: #808080;
    -fx-font-weight: bold;
}

.application .mandelbrot .error {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.application .mandelbrot .error-title {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.application .mandelbrot .error-message {
    -fx-text-fill: red;
}
