.root {
	-fx-background-color: #444444;
}

.root.popup {
    -fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-hbar-policy: never;
	-fx-vbar-policy: never;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.text-area {
    -fx-background-color: #FFFFFF;
}

.text-area:focused .content {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
}

.list-view {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-width: 0 0 0 0;
}

.list-view:focused {
	-fx-background-color: white white black black;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-width: 0 0 0 0;
}

.application .editor {
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0 0 0 1;
	-fx-border-color: #444444;
}
