<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NextFractal - Admin Fractals</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/fractals.js"></script>
</head>
<body>
<div id="admin">
    <input type="text" id="url" name="url"></input>
    <form id="formCreate">
        <textarea rows="20" cols="80" id="script" name="script"></textarea>
        <textarea rows="20" cols="80" id="metadata" name="metadata"></textarea>
        <input id="create" type="submit" value="create"></input>
    </form>
    <form id="formDelete">
        <input id="uuid" name="uuid"></input>
        <input id="delete" type="submit" value="delete"></input>
    </form>
    <select id="uuids"></select>
    <a id="show" href="#" target="_blank">Open</a>
</div>
</body>
</html>
