.mandelbrot .keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.mandelbrot .error {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.mandelbrot .pathop {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.mandelbrot .operator {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.mandelbrot .paren {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.mandelbrot .function {
    -fx-fill: brown;
    -fx-font-weight: bold;
}

.mandelbrot .brace {
    -fx-fill: black;
    -fx-font-weight: bold;
}

.mandelbrot .code {
    -fx-fill: #808080;
    -fx-font-weight: bold;
}
