.root {
	-fx-background-color:#444444;
}

.scroll-pane {
	-fx-background-color:transparent;
}

.scroll-pane > .viewport {
	-fx-background-color:transparent;
}

#config-panel {
	-fx-background-color:#777777;
	-fx-padding:10px;
}

#editor-panel {
}

#grid-item  {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-font-size: 20px;
}

#grid-sentinel {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444400;
	-fx-background-radius: 5px;
	-fx-background-color: #ffff00;
	-fx-font-size: 20px;
}

#extension-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

#boolean-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}
