.root {
	-fx-background-color:#444444;
}

.scroll-pane {
	-fx-background-color:transparent;
}

.scroll-pane > .viewport {
	-fx-background-color:transparent;
}

#config-panel {
	-fx-background-color:#777777;
	-fx-padding:10px;
}

#editor-panel {
}

.config-view {
	-fx-background-color:#777777;
}

.grid-item  {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-font-size: 20px;
}

.grid-sentinel {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444400;
	-fx-background-radius: 5px;
	-fx-background-color: #ffff00;
	-fx-font-size: 20px;
}

.extension-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.boolean-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.integer-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.long-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.short-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.float-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.double-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.string-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.iterations-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.threshold-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.percentage-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.exponent-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.criteria-pane {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #444444;
	-fx-background-radius: 5px;
	-fx-background-color: #666666;
	-fx-padding: 10px;
}

.extension-grid-pane .grid-item-wrapper-pane {
	-fx-padding: 10px;
}

.extension-grid-pane .grid-item-pane  {
	-fx-border-radius: 5px;
	-fx-border-width: 1px;
	-fx-border-color: #333333;
	-fx-background-radius: 5px;
	-fx-background-color: #555555;
	-fx-font-size: 20px;
}
